# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\person_file\demo\java_concurrency\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
